body {
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template: 60px 1fr 80px 1fr 50px / 1fr;
  grid-template-areas:
    "nav"
    "logo"
    "search"
    "button"
    "footer";
}
/* section menu */
.menu {
  grid-area: nav;
  margin: 0;
  padding: 0;
  height: 60px;
}

.menu .menu-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  height: auto;
  width: auto;
}

.menu .menu-button ul {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .menu-button li {
  display: inline;
  margin-left: 10px;
}

.menu .menu-button a {
  text-decoration: none;
  color: black;
  font-size: 0.9em;
}

.menu .menu-button a:hover {
  text-decoration: underline;
}

.menu .menu-button .menu-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-right: 30px;
}

.menu .menu-button img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
}

/* section logo  */
.main-logo {
  grid-area: logo;
  height: auto;
  margin: 0;
  padding: 0;
}

.main-logo-google {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section search  */
.main-search {
  grid-area: search;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-search .main-form-search {
  width: 500px;
  border: 1px solid #dfe1e5;
  border-radius: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-search .main-form-search:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

.main-search .main-form-search input {
  width: 380px;
  height: 40px;
  border: none;
}

.main-search .main-form-search input:focus {
  outline: 0 none;
}

.main-search .main-form-searchinput:focus {
  outline: none;
}

.main-search .main-form-search .search-icon {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-right: 20px;
}

.main-search .main-form-search .micro-icon {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png");
  background-repeat: none;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-left: 20px;
  cursor: pointer;
}

/* section button  */
.buttons {
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons div {
  padding: 10px;
  margin-top: 40px;
  margin-left: 20px;
  cursor: pointer;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  font-size: 12;
  font-family: arial, sans-serif;
  height: 20px;
  min-width: 150px;
  text-align: center;
  user-select: none;
}

.buttons div:hover {
  border: solid 1px #c6c6c6;
  color: #222;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0, 1);
}

.buttons-text {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #27282b;
  font-size: 0.9em;
}

.buttons-text a {
  text-decoration: none;
  margin-left: 20px;
}

/* section footer  */
.footer {
  grid-area: footer;
  background-color: #f2f2f2;
  color: #5f6368;
  font-size: 0.9em;
  border-top: 1px solid rgba(0, 0, 0, 0.123);
}

.footer .grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.footer .grid-container li {
  display: inline;
  padding: 10px;
}

.footer .grid-container a {
  text-decoration: none;
  color: #414449cc;
}

.footer .grid-container .grid-left {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.footer .grid-container a:hover {
  text-decoration: underline;
}
